.paraghraph {
    background-color: #C0B8D9;
    border-radius: 1ex;
    padding: 2ex;
}


body {
    color: lightcyan;
    background-color: #7AA3E0;
    font-family: 'Courier New', Courier, monospace;
    margin: 5ex;
}

